@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	background-image: url('../images/backgroundImage.jpg');
}
h1 {
	
	font-size: 100px;
}
.characters{
		
		background-color: gray;
		border-width: 3px;
		border: outset black;
		margin-top: 50px;
		
}
#attack{
	margin-top: 100px;
	padding: 20px;
	font-size: 25px;
}
.victory{
	font-size:100px;
	margin-top: 300px;
}
img {

	width:225px;
	height: 125px;
}